<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.blubz">
    <uses-sdk android:minSdkVersion="17"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/blubiconsmall" android:label="@string/app_name">

        <activity android:name=".MainScreen"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddContent.AddMessage"
                  android:label="@string/add"
                  android:parentActivityName=".BlubChoiceActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AddContent.AddPhoto"
                  android:label="@string/add"
                  android:parentActivityName=".BlubChoiceActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ReturnContent.ViewMessage"
                  android:label="@string/view_message"
                  android:parentActivityName=".AddContent.AddMessage"
                  android:screenOrientation="portrait"/>
        <activity android:name=".Preferences.SettingsActivity"
                  android:label="Settings"
                  android:parentActivityName=".MainScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name=".ReturnContent.ReturnContent"
                  android:label="ReturnContent"
                  android:parentActivityName=".MainScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name=".BlubChoiceActivity"
                  android:label="Choose Blub Type"
                  android:parentActivityName=".MainScreen"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
                  android:label="About Blubz"
                  android:parentActivityName=".MainScreen"
                  android:screenOrientation="portrait"/>
        <service android:name=".ReturnContent.NotifyService" android:label="NotifyService"/>
    </application>
</manifest>
